{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Account{% endblock title %} - Donegal Explorers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Favicon links -->
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dsojbqe7b/image/upload/v1725286225/media-library/favicon_igqgum.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dsojbqe7b/image/upload/v1725286225/media-library/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dsojbqe7b/image/upload/v1725286225/media-library/favicon-32x32_mlyktv.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://res.cloudinary.com/dsojbqe7b/image/upload/v1725286225/media-library/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="https://res.cloudinary.com/dsojbqe7b/image/upload/v1725286225/media-library/android-chrome-512x512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/dsojbqe7b/image/upload/v1725286225/media-library/apple-touch-icon.png">

     <!-- Font Awesome -->
     <script src="https://kit.fontawesome.com/c39eddf05d.js" crossorigin="anonymous"></script>
</head>
<body>

    {% block navbar %}
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Donegal Explorers</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'browse_events' %}">Browse Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_calendar' %}">My Calendar</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Sign-Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock navbar %}

    <main class="container-custom mt-5">
        {% block content %}
        <!-- Content Goes Here -->
        {% endblock content %}
    </main>

    <footer class="footer-custom">
        <p>&copy; 2024 Donegal Explorers. All Rights Reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>