{% extends "account/base.html" %}
{% load allauth i18n %}
{% block title %}
    {% trans "Sign Up" %}
{% endblock title %}
{% block content %}
<div class="signup-content-box">
    <h2 class="text-center">Sign Up</h2>

    <p class="text-center">
        {% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}" class="text-link">sign in</a>.{% endblocktranslate %}
    </p>

    <form method="post" action="{% url 'account_signup' %}" class="form-custom">
        {% csrf_token %}
        <div class="form-group mb-3">
            {% element fields form=form unlabeled=True %}
            {% endelement %}
        </div>
        {{ redirect_field }}
        <div class="text-center">
            <button type="submit" class="btn btn-custom mt-3">Sign Up</button>
        </div>
    </form>
</div>
{% endblock content %}