{% extends "account/base.html" %}
{% load allauth i18n %}

{% block title %}
    {% trans "Sign Up" %}
{% endblock title %}

{% block content %}
<div class="signup-content-box" aria-labelledby="signup-heading">
    <h2 class="text-center" id="signup-heading">Sign Up</h2>

    <p class="text-center">
        {% blocktranslate %}Already have an account? Then please <a href="{{ login_url }}" class="text-link" aria-label="Sign in">sign in</a>.{% endblocktranslate %}
    </p>

    <!-- Message Block -->
    {% if messages %}
    <ul class="messages" role="alert">
        {% for message in messages %}
        <li class="alert alert-info">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post" action="{% url 'account_signup' %}" class="form-custom" aria-label="Sign up form">
        {% csrf_token %}

        <!-- Display Form Fields and Errors -->
        <div class="form-group mb-3">
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="text-danger" role="alert">
                    {{ field.errors }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        {{ redirect_field }}

        <div class="text-center">
            <button type="submit" class="btn btn-custom mt-3" aria-label="Submit sign up">Sign Up</button>
        </div>
    </form>
</div>
{% endblock content %}