/* Custom Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FDF4EF;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Extra Bold', sans-serif;
    text-align: center;
}

/* Navbar Styles */
.navbar-custom {
    background-color: #FDF4EF;
    padding: 15px 20px;
}

.navbar-custom .navbar-brand {
    font-family: 'Montserrat Extra Bold', sans-serif;
    font-size: 1.5rem;
    color: #2F6146;
}

.navbar-custom .nav-link {
    color: #000000;
    font-weight: 600;
}

.navbar-custom .nav-link:hover {
    color: #2F6146;
}

/* Button Styles */
.btn-custom {
    background-color: #CEA64A;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Montserrat Extra Bold', sans-serif;
    border: none;
}

.btn-custom:hover, .btn-custom:active {
    background-color: #CDC2A9;
    color: #FFFFFF;
}

.btn-outline-custom {
    background-color: transparent;
    color: #CEA64A;
    border: 2px solid #CEA64A;
    border-radius: 5px;
    font-family: 'Montserrat Extra Bold', sans-serif;
}

.btn-outline-custom:hover, .btn-outline-custom:active {
    background-color: #CEA64A;
    color: #FFFFFF;
}

/* Text Styles */

.text-link {
    color: #2F6146;
    text-decoration: underline;
}

.text-link:hover {
    color: #CEA64A;
}

/* Form Styles */
.form-custom input[type="text"], 
.form-custom input[type="password"], 
.form-custom input[type="email"], 
.form-custom input[type="number"], 
.form-custom select, 
.form-custom textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-custom input:focus, 
.form-custom select:focus, 
.form-custom textarea:focus {
    border-color: #CEA64A;
    outline: none;
}

/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #FDF4EF;
    position: relative;
}

.hero-content {
    flex: 1;
    padding-right: 20px;
    z-index: 10;
}

.hero-image {
    flex: 1;
    background-image: url('/static/css/images/hero-image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 400px; 
    border-radius: 10px;
    z-index: 1; 
}

/* Card Styles */
.card-custom {
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #FDF4EF; 
    margin-bottom: 20px; 
}

.card-custom .card-title {
    font-family: 'Montserrat Extra Bold', sans-serif; 
    color: #2F6146; 
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.card-custom .card-body {
    padding: 20px;
}

.card-img-top {
    height: 15vw;  
    object-fit: cover;  
    min-height: 200px;  
}


/* Footer Styles */
footer.footer-custom {
    background-color: #2F6146;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-custom .social-icons {
    margin-top: 10px;
}

.footer-custom .social-icons a {
    margin: 0 10px;
    color: #FFFFFF;
    font-size: 24px;
}

.footer-custom .social-icons a:hover {
    color: #CEA64A;
}


/* Container Styles */
.container-custom {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Form within the Card */
.card-custom .form-custom input[type="text"], 
.card-custom .form-custom input[type="password"], 
.card-custom .form-custom input[type="email"], 
.card-custom .form-custom input[type="number"], 
.card-custom .form-custom select, 
.card-custom .form-custom textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.card-custom .form-custom input:focus, 
.card-custom .form-custom select:focus, 
.card-custom .form-custom textarea:focus {
    border-color: #CEA64A;
    outline: none;
}

/* Buttons */
.card-custom .btn-primary {
    background-color: #CEA64A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat Extra Bold', sans-serif;
}

.card-custom .btn-primary:hover {
    background-color: #CDC2A9;
    color: #FFFFFF;
}

/* Alerts */
.alert-custom {
    background-color: #FDF4EF;
    color: #000000;
    border: 1px solid #CEA64A;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}

/* Custom Feature Section */
.unique-feature {
    text-align: center;
    padding: 30px 20px;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.unique-feature h2 {
    font-family: 'Montserrat Extra Bold', sans-serif;
    color: #2F6146;
}

.unique-feature p {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

/* Mobile screens with widths of less than 768px*/
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }

    .hero-content {
        padding-right: 0;
        margin-bottom: 20px;       
    }

     /* Stack the features vertically */
     .unique-feature {
        margin-bottom: 20px;
    }

    .footer-custom .social-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}