{% extends 'base_layout.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Browse Events</h1>
    <div class="row">
        {% for event in events %}
        <div class="col-sm-4 mb-4">
            <div class="card h-100 shadow-sm">
                {% if event.image %}
                    <img src="{{ event.image.url }}" class="card-img-top card-img" alt="{{ event.title }}">
                {% else %}
                    <img src="{% static 'css/images/placeholder-image.jpg' %}" class="card-img-top card-img" alt="{{ event.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.description|truncatewords:20 }}</p>
                    <p class="card-text">
                        <small class="text-muted">{{ event.date|date:"l, F jS" }} - {{ event.time|time:"g:i A" }}</small>
                    </p>
                    <a href="{% url 'event_detail' event.slug %}" class="btn btn-primary">View Event</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}