{% extends "base_layout.html" %}

{% block content %}
<h1>Events</h1>
<ul>
    {% for event in object_list %}
        <li>
            <h2><a href="{% url 'view_event' event.id %}">{{ event.title }}</a></h2>
            <p>{{ event.description }}</p>
            <p>{{ event.date }} at {{ event.time }}</p>
            <p>Location: {{ event.location }}</p>
            <p>Created on: {{ event.created_on }}</p>
        </li>
    {% empty %}
        <li>No events available.</li>
    {% endfor %}
</ul>

<!-- Pagination controls -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}