{% extends "base_layout.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Events</h1>

    <!-- Event List -->
    <ul>
        {% for event in object_list %}
            <li class="mb-4">
                <h2>
                    <a href="{% url 'view_event' event.id %}" aria-label="View details of event {{ event.title }}">{{ event.title }}</a>
                </h2>
                <p>{{ event.description }}</p>
                <p>
                    <strong>From:</strong> {{ event.start_date|date:"l, F jS" }} at {{ event.start_time|time:"g:i A" }}
                </p>
                <p>
                    <strong>To:</strong> {{ event.end_date|date:"l, F jS" }} at {{ event.end_time|time:"g:i A" }}
                </p>
                <p>
                    <strong>Location:</strong> {{ event.location }}
                </p>
                <p>
                    <strong>Created on:</strong> {{ event.created_on|date:"l, F jS, Y" }}
                </p>
            </li>
        {% empty %}
            <li>No events available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}