{% extends "base_layout.html" %}
{% load static %}

{% block content %}
<article class="container-fluid">
    <!-- Hero Section -->
    <section class="hero-section">
        <div class="hero-content-box">
            <div class="hero-content">
                <h1>Discover, Share, and Celebrate Family Adventures in Donegal.</h1>
                <p>START EXPLORING TODAY!</p>
                <a href="{% url 'account_signup' %}" class="btn btn-custom">Sign Up</a>
            </div>
        </div>
        <div class="hero-image"></div>
    </section>

    <!-- Welcome Section -->
    <section class="welcome-section container-custom mt-5 text-center">
        <h2>Welcome to Donegal Explorers!</h2>
        <p>Your go-to guide for family-friendly fun in Donegal! Whether you're a local or a visitor, our platform connects you to the best events, activities, and hidden gems that our beautiful region has to offer. Browse events, save your favourites, and share your experiences with a community of fellow explorers. Let's make every day in Donegal an adventure for the whole family!</p>
    </section>

    <!-- Features Section -->
    <section class="features-section container mt-5">
        <div class="row">
            <div class="col-md-4 text-center">
                <a href="{% url 'browse_events' %}" class="unique-feature">
                    <img src="{% static 'css/images/browse-icon.webp' %}" alt="Browse Icon" class="img-fluid">
                    <h3>Browse</h3>
                    <p>Explore a curated list of local events and activities perfect for the whole family.</p>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{% url 'add_event' %}" class="unique-feature">
                    <img src="{% static 'css/images/add-save-icon.webp' %}" alt="Add or Save Icon" class="img-fluid">
                    <h3>Add Event</h3>
                    <p>Easily add your own events to the community with just a click.</p>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="{% url 'my_calendar' %}" class="unique-feature">
                    <img src="{% static 'css/images/connect-icon.webp' %}" alt="Calendar Icon" class="img-fluid">
                    <h3>Calendar</h3>
                    <p>View and manage all your saved events in one convenient calendar view.</p>
                </a>
            </div>
        </div>
    </section>
</article>
{% endblock content %}