@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,900&family=Open+Sans:wght@400;700&display=swap');

/* Custom Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FDF4EF;
    color: #333333;
}

html, body {
    height: 100%;
    margin: 0;
}

.flex-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Extra Bold', sans-serif;
    text-align: center;
    font-size: 1.8rem; 
}

/* Navbar Styles */
.navbar-custom {
    background-color: #FDF4EF;
    padding: 15px 20px;
}

.navbar-custom .navbar-brand {
    font-family: 'Montserrat Extra Bold', sans-serif;
    font-size: 1.5rem;
    color: #B2BFA8;
}

.navbar-custom .nav-link {
    color: #333333;
    font-weight: 600;
}

.navbar-custom .nav-link:hover {
    color: #B2BFA8;
}

.navbar-custom .nav-link:focus,
.navbar-custom .nav-link:active,
.btn-custom:focus,
.btn-custom:active {
    outline: none;
    box-shadow: none;
}

/* Customise focus and active states*/
.navbar-custom .nav-link:focus,
.navbar-custom .nav-link:active {
    background-color: #B2BFA8;
    color: #FFFFFF;
}

.btn-custom:focus,
.btn-custom:active {
    background-color: #CEA64A;
    color: #FFFFFF;
    border-color: #B08A41;
}

.btn-custom:hover, .btn-custom:focus {
    background-color: #B08A41;
    outline: none;
    box-shadow: none;
}

/* Remove blue flash (outline) on focus and active states for dropdowns */
.navbar-custom .dropdown-toggle:focus,
.navbar-custom .dropdown-toggle:active {
    outline: none;
    box-shadow: none;
}

/* Customise focus and active states for dropdown */
.navbar-custom .dropdown-toggle:focus,
.navbar-custom .dropdown-toggle:active {
    background-color: #B2BFA8; 
    color: #FFFFFF;
}

/* General Styles for Dropdown Items */
.navbar-custom .dropdown-menu {
    background-color: #FDF4EF; 
    border: 1px solid #B2BFA8; 
}

.navbar-custom .dropdown-item {
    color: #333333;
    font-weight: 600;
}

.navbar-custom .dropdown-item:hover {
    background-color: #B2BFA8;
    color: #FFFFFF;
}

/* Button Styles */
.btn-custom {
    background-color: #CEA64A;
    color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Montserrat Extra Bold', sans-serif;
    border: none;
    padding: 10px 20px;
}

.btn-custom:hover, .btn-custom:active {
    background-color: #CDC2A9;
    color: #FFFFFF;
}

.btn-outline-custom {
    background-color: transparent;
    color: #CEA64A;
    border: 2px solid #CEA64A;
    border-radius: 5px;
    font-family: 'Montserrat Extra Bold', sans-serif;
    padding: 10px 20px;
}

.btn-outline-custom:hover, .btn-outline-custom:active {
    background-color: #CEA64A;
    color: #FFFFFF;
}

.btn-delete-custom {
    background-color: #FF6B6B;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-delete-custom:hover {
    background-color: #FF4040;
}

.btn-rate-custom {
    background-color: #CEA64A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-rate-custom:hover {
    background-color: #CDC2A9;
}

/* Dropdown styles */

select.form-select {
    background-color: #FDF4EF; 
    border: 1px solid #CEA64A; 
    color: #333333; 
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    appearance: none;
}

select.form-select:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(193, 161, 106, 0.5);
    border-color: #CEA64A;
    background-color: #F9EAD8; /* Slight background change on focus */
}

/* Ensuring dropdown list item hover and active match */
select.form-select option {
    background-color: #FDF4EF;
    color: #333333;
}

/* Remove default arrow and replace with custom */
select.form-select::-ms-expand {
    display: none; 
}

select.form-select::after {
    content: "▼"; 
    padding-left: 1rem;
    color: #3b3b3b;
}

/* Hover effect update */
select.form-select:hover {
    background-color: #FDF4EF;
}

button.btn-custom {
    background-color: #d4b89d; 
    color: white; 
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

button.btn-custom:hover {
    background-color: #b69376; 
}

/* Text Styles */
.text-link {
    color: #B2BFA8;
    text-decoration: underline;
}

.text-link:hover {
    color: #CEA64A;
}

/* Form Styles */
.form-custom input[type="text"], 
.form-custom input[type="password"], 
.form-custom input[type="email"], 
.form-custom input[type="number"], 
.form-custom select, 
.form-custom textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-custom input:focus, 
.form-custom select:focus, 
.form-custom textarea:focus {
    border-color: #CEA64A;
    outline: none;
}

/* General Sections */
section {
    max-width: 1200px; 
    margin: 0 auto;
}

/* Hero Section */
.hero-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 80px 20px;
    background-color: #FDF4EF;
    position: relative;
    max-width: 1200px; 
    margin: 0 auto;
    flex-wrap: wrap;
}

.hero-content {
    flex: 1;
    z-index: 10;
}

/* Style for Hero Content Box */
.hero-content-box {
    background-color: #FFFFFF;  
    padding: 30px;              
    border-radius: 10px;        
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    max-width: 600px;           
    margin-left: 0;             
    margin-bottom: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-content h1 {
    font-size: 2.5rem; 
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;  
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: left; 
}

.hero-image {
    flex: 1;
    background-image: url("/static/css/images/hero-image.0c6bc11d654a.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: auto;
    width: 100%;
    max-width: 600px;
    margin-left: 20px;
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* Sign-Up Button */
.hero-content .btn-custom {
    font-size: 1.2rem;
    padding: 15px 30px;
    background-color: #CEA64A;
    color: #FFFFFF;
    border-radius: 8px;
}

.hero-content .btn-custom:hover {
    background-color: #B08A41;
    color: #FFFFFF;
    text-align: left;
}

/* Welcome Section */
.welcome-section {
    background-color: #B2BFA8;
    color: #333333;
    padding: 50px 20px;
    margin-top: 40px;
    border-radius: 15px;
    max-width: 1200px; 
    margin: 0px auto;
}

/* Card Styles */
.card-custom {
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #FDF4EF; 
    margin-bottom: 20px;
    text-align: center;
}

.card-custom .card-title {
    font-family: 'Montserrat Extra Bold', sans-serif; 
    color: #B2BFA8;
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.card-custom .card-body {
    padding: 20px;
}

.card-img-top {
    height: 15vw;  
    object-fit: cover;  
    min-height: 200px;  
}

.confirmation-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.confirmation-message {
    background-color: #FDF4EF; 
    color: #333333; 
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Calendar Styling*/

.calendar-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calendar-item {
    flex: 1 0 calc(33.33% - 10px);
    margin-bottom: 20px;
}

/* Event Detail Styling */

/* Align event image and text in the first card */
.event-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event-header .event-image {
    flex: 1;
    max-width: 40%;  
    margin-right: 20px; 
    height: auto;  
}

.event-header .event-details {
    flex: 2;
    text-align: left;  
}

/* Signup page styles */
.signup-content-box {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}

.signup-content-box h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.signup-content-box p {
    font-size: 1rem;
    text-align: center;
}

.signup-content-box .form-group {
    text-align: left;
}

.signup-content-box .btn-custom {
    width: 100%;
    padding: 15px;
}

.form-custom input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.text-link {
    color: #CEA64A;
    text-decoration: underline;
}

/* Footer Styles */
footer.footer-custom {
    background-color: #B2BFA8;
    color: #333333;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer-custom .social-icons {
    margin-top: 10px;
}

.footer-custom .social-icons a {
    margin: 0 10px;
    color: #333333;
    font-size: 1.5rem;
}

.footer-custom .social-icons a:hover {
    color: #CEA64A;
}

/* Form within the Card */
.card-custom .form-custom input[type="text"], 
.card-custom .form-custom input[type="password"], 
.card-custom .form-custom input[type="email"], 
.card-custom .form-custom input[type="number"], 
.card-custom select, 
.card-custom textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.card-custom .form-custom input:focus, 
.card-custom select:focus, 
.card-custom textarea:focus {
    border-color: #CEA64A;
    outline: none;
}

/* Buttons */
.card-custom .btn-primary {
    background-color: #CEA64A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat Extra Bold', sans-serif;
}

.card-custom .btn-primary:hover {
    background-color: #CDC2A9;
    color: #FFFFFF;
}

.btn-custom {
    background-color: #CEA64A;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}

/* Alerts */
.alert-custom {
    background-color: #FDF4EF;
    color: #333333;
    border: 1px solid #CEA64A;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}

/* Success and Error Alerts */
.alert-success-custom {
    background-color: #B2BFA8; 
    color: #FFFFFF; 
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    font-family: 'Montserrat Extra Bold', sans-serif;
    text-align: center;
}

.alert-error-custom {
    background-color: #FF6B6B;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    font-family: 'Montserrat Extra Bold', sans-serif;
    text-align: center;
}

/* Feature Section Custom Styling */
.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FDF4EF;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    height: 100%;
    text-align: center;
}

.feature-card img {
    border-radius: 15px;
    max-width: 180px;
    height: auto;
    object-fit: contain;
    margin: 0 auto 20px;
}

.feature-card h3 {
    font-family: 'Montserrat Extra Bold', sans-serif;
    font-size: 1.25rem;
    color: #333333;
}

.feature-card p {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

.feature-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.feature-card a {
    text-decoration: none;
    color: inherit;
}

.feature-card a:hover {
    color: inherit;
}

/* Customise notification checkbox */
.form-check-input {
    background-color: #f0ece4;
    border-color: #c4c4c4;
}

.form-check-input:checked {
    background-color: #ffa07a;
    border-color: #ffa07a;
}

/* Adjust the size of the checkbox */
.form-check-input {
    width: 20px;
    height: 20px;
}

/* Align the checkbox and label */
.form-check-label {
    font-size: 1.2rem;
    margin-left: 10px;
}

/*Logo in navbar*/
#navbar-logo {
    max-height: 150px; 
    width: auto;   
}

/* Media query for larger screens */
@media (min-width: 992px) {
    .hero-section,
    .welcome-section,
    .features-section {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Media query for screens between 768px and 992px */
@media (max-width: 992px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        justify-content: center; 
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Mobile screens with widths of less than 768px */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-content {
        padding-right: 0;
        margin-bottom: 20px;       
    }

    .hero-content-box {
        max-width: 100%;
    }

    .hero-image {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    #navbar-logo {
        max-height: 100px;
    }
}